 <link href="../../../css/bootstrap.css" rel="stylesheet">

<h1 class="text-center">Make An Offer</h1> <br> 
<!-- Split button -->
<div style="text-align: center; position:relative; width: 100%; border-width: 1px 0 0 0; ">
  <button type="button" class="btn btn-success">Trade Item</button> <br> 
</div>

<h3 class="text-center">And/Or</h3> <br>

<div style="text-align: center; position:relative; width: 100%; border-width: 1px 0 0 0; ">
  <button type="button " id="" class="btn btn-success">Pay Cash</button>
</div> <br> <br> <br>


<div class="container">
    <div class="row">
            <div class="col-md-12">
            <form role="form">
				<div class="form-group">
                    <label for="Payment">Enter Payment Offer</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Payment" id="Payment" placeholder="$$$" required>
                        <span class="input-group-addon">
                    </div> 
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"> <br>
            </form>
            </div>
    </div>
</div>