
<script type="text/javascript" src="../../js/libs/viewModeSwitch.js"></script>

<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
	<div class="row nav-bar">
		<div class="col-md-6">
			<a href="#"><img src="../../../img/clothingrefresh.png" style="width:60px" alt="Closet Refresh">
			Closet Refresh</a>
		</div>
		
		<div class="col-md-6 pull-right">
			
				<div class="pull-right">
				     <form class="navbar-form navbar-left" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
				        <span class="glyphicon glyphicon-search" id="search-submit">
				  	</form>
			    </div>
			    <div class="header-profile pull-right">
				<a href="#"><img src="../../../img/eliza.jpg" style="width:40px" alt="Eliza" class="img-circle">
					Eliza</a></div>
		</div>
	  	</div>
	  	<div class="row">
		  	<div id="add-new-post" class="pull-left col-md-3">
		  		<span class="glyphicon glyphicon-plus-sign"></span> Add new item 
		  	</div>
		    <div class="cbp-vm-options pull-right col-md-3">
		        <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
		        <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
			</div>
		</div>
    <ul id="listview-parent">
    </ul>
</div>
