<div class="postPill">
     <li>
            <a class="cbp-vm-image" href="#"><img src="<%= model.get("imageURL") %>"></a>
            <h3 class="cbp-vm-title"><%= model.get("title")%></h3>
            <div class="cbp-vm-price"><%= model.get("price")%></div>
            <div class="cbp-vm-details">
            	<%= model.get("description")%>
            </div>
            <a class="cbp-vm-icon cbp-vm-add" href="#">Show More</a>
            <button class="cbp-vm-icon cbp-vm-add">Make a Deal</button>
        </li>
        <li>
            <!--  ... -->
        </li>
</div>